@use "../../vars" as *;

.button-primary {

    border: none;
    background: $pri-col;
    
}

.button-secondary {

    border: none;
    border-radius: 0.5rem;
    border-top: 2px solid $font-col;
    border-bottom: 2px solid $font-col;
    background: none;
    color: $font-col;
    height: 2rem;
    font-size: 1.5rem;
    font-family: "Gantari";
}