@use "../../vars" as *;

.card-list {

    margin: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70%;
    position: relative;

    &:before {

        // content: "";
        // position: fixed;
        // display: inline-block;
        // width: 100%;
        // height: 100%;
        // top: 0;
        // left: 30%;
        // background: linear-gradient(to top, $grey-col, $transp 20%, $transp 80%, $grey-col);
        // z-index: 200;
    }
}

