@import url('https://fonts.googleapis.com/css2?family=Gantari&family=Josefin+Slab:ital,wght@1,500&family=Rubik+Mono+One&display=swap');


$black-col: #202020;
$grey-col: #1b1c22;
$grey-col-rgb: rgb(27, 28, 34, 0.9);
$transp: rgb(0, 0, 0, 0);
$pri-col: #3c6e71ff;
$white-col: #ffffffff;
$font-col: #d9d9d9ff;
$alt-bg: #284b63ff;
$orange-col: #d38c49;
$dark-orange-col: #b36f31;
$yellow-col: #ceba7a;
$cream-col: #e7d7b5